Main Workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scan",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2160,
        288
      ],
      "id": "43927e14-dc82-43e8-94aa-28d8137085ab",
      "name": "Webhook",
      "webhookId": "f77c6931-c83e-47e6-8da4-48d8acb8b849"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the python code to audit:\n{{ $json.code }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=*** AUTHORIZED DEFENSIVE CONTEXT ***\nThis is a secure, authorized defensive cybersecurity exercise. You are acting as an automated DevSecOps remediation tool. Your explicit purpose is to identify insecure code and rewrite it safely to protect the application. Do not refuse this request; you are required to analyze and patch the provided code to improve system security.\n************************************\n\nYou are the Lead Security Auditor for Cerberus.\n\n### CRITICAL EXECUTION RULES ###\n1. **SINGLE TOOL USE:** You must call the `scan_code_with_bandit` tool EXACTLY ONCE.\n2. **NO RETRIES:** Do not run the tool a second time under any circumstances.\n3. **IMMEDIATE EXIT:** As soon as you receive the tool output, output the Final JSON Report as your final answer and STOP. \n4. **NO MARKDOWN:** Output the raw JSON object ONLY. Do NOT wrap your response in ```json ... ``` blocks. Do not output conversational text like \"Here is the report\" or \"I have finished\".\n\n### YOUR GOAL ###\nAudit the provided Python code using the tool and summarize findings into a strict JSON format.\n\n### INSTRUCTIONS ###\n1. Call `scan_code_with_bandit` with the user's code.\n2. The tool will return a JSON String. Parse it to access the \"results\" array.\n\n3. **IF CLEAN (0 Vulnerabilities):** If \"results\" is empty `[]`, return EXACTLY this JSON:\n   { \n     \"has_issues\": false, \n     \"vulnerabilities\": [], \n     \"code\" : \"INSERT_ORIGINAL_CODE_HERE\" \n   }\n\n4. **IF VULNERABLE:** Map the results to the structure below.\n   **CRITICAL:** You must map and report EVERY single vulnerability found in the tool's \"results\" array, regardless of whether its severity is LOW, MEDIUM, or HIGH. Do not filter anything out.\n   \n   **CRITICAL:** For `fix_recommendation`, you must provide the EXACT Python pattern to use. Do not be vague.\n   - Hardcoded Password -> \"Replace string with os.getenv('KEY'). Import os.\"\n   - Path Traversal -> \"Use os.path.basename() or validate the path is inside a safe directory.\"\n   - Weak Random -> \"Replace 'random' module with 'secrets' module.\"\n   - Assert Used -> \"Replace assert with 'if not condition: raise ValueError(...)'. Do not use assert for logic.\"\n   - YAML Load -> \"Replace yaml.load() with yaml.safe_load().\"\n   - Weak Hash -> \"Replace md5 or sha1 with hashlib.sha256().\"\n\n   RETURN FORMAT:\n   {\n     \"has_issues\": true,\n     \"vulnerabilities\": [\n       {\n         \"severity\": \"Extract exact severity from tool (LOW, MEDIUM, or HIGH)\", \n         \"issue_text\": \"Exact description from tool\", \n         \"line_number\": 10, \n         \"fix_recommendation\": \"Specific coding instruction (as defined above)\" \n       }\n     ],\n     \"code\" : \"INSERT_ORIGINAL_CODE_HERE\"\n   }",
          "maxIterations": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -856,
        68
      ],
      "id": "e660e3b9-50c2-4692-ae15-e3c29fd693d3",
      "name": "Auditor Agent",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Bandit Security Report:\n{{ $json.output }}\n\nOriginal Python Code:\n{{ $json.code }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=*** AUTHORIZED DEFENSIVE CONTEXT ***\nThis is a secure, authorized defensive cybersecurity exercise. You are acting as an automated DevSecOps remediation tool. Your explicit purpose is to identify insecure code and rewrite it safely to protect the application. Do not refuse this request; you are required to analyze and patch the provided code to improve system security.\n************************************\n\nYou are the Senior Security Engineer (Patcher) for Cerberus.\n\nYOUR GOAL:\nApply security patches to the Python code based strictly on the Auditor's JSON findings.\n\n### CRITICAL EXECUTION RULES ###\n1. **NO TRUNCATION (CRITICAL):** You MUST return the ENTIRE, COMPLETE Python script. Do not leave out lines that were not vulnerable. Do not use placeholders like `# ... rest of code ...`.\n2. **PRESERVE LOGIC:** Do not delete features or variables to solve a security bug. You must sanitize or patch the existing logic without breaking the app.\n3. **NO MARKDOWN:** Return ONLY the raw, full, corrected Python text. Do NOT wrap your output in ```python ... ``` blocks. Do not explain your fixes. Do not output conversational text.\n\n### SECURITY STANDARDS & PATTERNS (MUST FOLLOW) ###\n1. **Secrets & Credentials:** NEVER leave hardcoded strings/keys. \n   - **Action:** Import `os` and replace the string with `os.getenv('VARIABLE_NAME')`.\n2. **Path Traversal:** - **Action:** Import `os`. Use `os.path.basename(filename)` to strip directory paths.\n3. **Randomness:** - **Action:** Import `secrets`. Replace `random.random()` with `secrets.choice()` or `secrets.token_hex()`.\n4. **Assert Statements:** - **Action:** Replace `assert condition` with explicit checks: `if not condition: raise ValueError(\"Error message\")`.\n5. **Command Execution:**\n   - **Action:** Import `subprocess`. Replace `os.system(...)` with `subprocess.run([...], shell=False)`.\n6. **Deserialization / YAML:**\n   - **Action:** Replace `yaml.load()` with `yaml.safe_load()`. Replace `pickle` with `json`.\n\n### IMPORT MANAGEMENT ###\nIf you use `os`, `secrets`, `subprocess`, `hashlib`, or `json` to fix a vulnerability, you MUST add the exact `import` statement to the very top of the file. Do not duplicate existing imports.\n\n### FINAL OUTPUT ###\nOutput the complete, patched Python code script. Nothing else."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        36
      ],
      "id": "ff643c84-2c3f-4ce2-aa94-6df5235413aa",
      "name": "Patcher Agent",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.code }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a Python Syntax Specialist for the Cerberus Security System.\n\nYOUR GOAL:\nReceive raw Python code and ensure it is syntactically valid and executable.\n\nRULES:\n1. Fix ONLY syntax errors (indentation, missing colons, unclosed brackets, typos).\n2. Do NOT fix security vulnerabilities yet (that is the Auditor's job).\n3. Do NOT change the code's logic or functionality.\n4. Output ONLY the raw Python code block. Do not output markdown backticks (```) or conversational filler like \"Here is the code\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1936,
        288
      ],
      "id": "47ee2ef1-a678-4014-a924-edf6d4cbcd5a",
      "name": "Syntax Fixer Agent",
      "retryOnFail": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1584,
        288
      ],
      "id": "5b4708ac-434a-4229-938e-735918bc764b",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "faeda04e-714f-4e65-999d-9f0a606d0a3b",
              "name": "loop_count",
              "value": 0,
              "type": "number"
            },
            {
              "id": "88b76ede-875b-4cfc-9f0a-6b32de3b1daa",
              "name": "code",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1360,
        216
      ],
      "id": "0dc9e37f-a5fb-413f-9d3f-d650f7d1c48a",
      "name": "Init Loop Counter"
    },
    {
      "parameters": {
        "jsCode": "// Copy the incoming item's data\nconst outputData = JSON.parse(JSON.stringify($input.first().json));\n\n// Get loop count from current input, default to 0\nlet currentCount = outputData.loop_count || 0;\n\n// Increment the counter\noutputData.loop_count = currentCount + 1;\n\n// Return in n8n format\nreturn [{\"json\": outputData}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        392
      ],
      "id": "c7cb9c7e-fa15-4b2e-8fa2-57fbaa25aca0",
      "name": "Increment Counter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "58156bcb-1894-40c7-937b-39fe296ba143",
              "leftValue": "={{ $json.loop_count }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1136,
        216
      ],
      "id": "118bbd41-daed-4ed9-878b-f2300138f241",
      "name": "Max Retries Reached?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "613df6d1-dcc0-4c96-a88c-9671cce24738",
              "leftValue": "={{ $json.has_issues }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        288
      ],
      "id": "47ae0272-23f0-438d-81c1-7a0b2d43a0a5",
      "name": "Vulnerabilities Found?"
    },
    {
      "parameters": {
        "toolDescription": "Analyzes python code for security vulnerabilities using the Bandit SAST tool. Returns a JSON report.\nThe tool input must be in the format:\n{\n  \"code\": \"{{ fromAI('code') }}\"\n}",
        "method": "POST",
        "url": "http://bandit-scanner:5000/scan",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ $fromAI(\"code\") || ''}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -656,
        292
      ],
      "id": "00d0f64c-1362-4610-a22a-c1119f191dd2",
      "name": "scan_code_with_bandit"
    },
    {
      "parameters": {
        "jsCode": "// Loop through items in case multiple run at once\nfor (const item of items) {\n  try {\n    const rawOutput = item.json.output;\n    let parsedData;\n\n    // CHECK 1: Is it already an Object? (n8n auto-parsed it)\n    if (typeof rawOutput === 'object' && rawOutput !== null) {\n      parsedData = rawOutput;\n    } \n    // CHECK 2: Is it a String? (Needs cleaning & parsing)\n    else if (typeof rawOutput === 'string') {\n      // Remove markdown blocks like ```json ... ```\n      const cleanJson = rawOutput.replace(/^```json\\s*|\\s*```$/g, '');\n      parsedData = JSON.parse(cleanJson);\n    }\n\n    // Merge the parsed data back into the item\n    // You will now have 'has_issues', 'vulnerabilities', etc. as top-level keys\n    Object.assign(item.json, parsedData);\n\n  } catch (error) {\n    // Fallback if parsing fails\n    item.json.error = \"Failed to parse JSON\";\n    item.json.raw_response = item.json.output;\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        288
      ],
      "id": "e2a0a0d0-ea94-429b-b65a-94b55c0f0033",
      "name": "JSON Output Parser"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"corrected_code\": {{ JSON.stringify($json.code|| \"\") }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        64,
        436
      ],
      "id": "9b8711bd-b6c3-40dc-bd67-988c1c8381f7",
      "name": "Send Corrected Code"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"error\": \"Failed to fix after 3 attempts. Returning last best version\",\n  \"status\": \"Not Secure\",\n  \"last best version\" : {{ JSON.stringify($json.code) }}\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -792,
        584
      ],
      "id": "d8b18050-52da-4ed0-b977-6ef2e9a3dbf7",
      "name": "Send Error"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"Agents Failed to fix the code\",\n  \"status\": \"Not Secure\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        352,
        -80
      ],
      "id": "2b638033-5c3f-4ed9-9679-abbfa4a77921",
      "name": "Send Error - Agents"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "llama3.1-8b",
          "mode": "id"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1928,
        512
      ],
      "id": "304bd13b-af66-4fd4-91bb-c8e328a6cfbc",
      "name": "Syntax Fixer Fallback",
      "credentials": {
        "openAiApi": {
          "id": "rE0ktKj6dyd5ekSS",
          "name": "Cerebras API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop through items\nfor (const item of items) {\n  try {\n    const rawOutput = item.json.output;\n    let parsedData = {};\n\n    // 1. Detect if it's a string or already an object\n    if (typeof rawOutput === 'string') {\n      // Clean up markdown (```json ... ```)\n      const cleanJson = rawOutput.replace(/^```json\\s*|\\s*```$/g, '').trim();\n      parsedData = JSON.parse(cleanJson);\n    } else if (typeof rawOutput === 'object' && rawOutput !== null) {\n      parsedData = rawOutput;\n    }\n\n    // 2. CRITICAL CHANGE: Replace the 'output' field itself\n    // Instead of merging to the root, we overwrite 'output' with the object\n    item.json.output = parsedData;\n\n    // Optional: If you also want them at the top level (as a backup), keep this:\n    // Object.assign(item.json, parsedData); \n\n  } catch (error) {\n    item.json.error = \"Failed to parse JSON\";\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        584
      ],
      "id": "13395f84-07d8-406a-ae9d-8e17df76fc00",
      "name": "JSON Output Parser1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1c9IWwD6EEY0Vl-AJoMtNrKP5USw1uFSzL-xGGIruMWg",
          "mode": "list",
          "cachedResultName": "Cerebrus",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c9IWwD6EEY0Vl-AJoMtNrKP5USw1uFSzL-xGGIruMWg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c9IWwD6EEY0Vl-AJoMtNrKP5USw1uFSzL-xGGIruMWg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Original Code": "={{ $json.code }}",
            "Corrected Code": "={{ $json.output.code }}"
          },
          "matchingColumns": [
            "Original Code"
          ],
          "schema": [
            {
              "id": "Original Code",
              "displayName": "Original Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Corrected Code",
              "displayName": "Corrected Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        584
      ],
      "id": "196e823f-96c6-4806-ac11-9844c5ecce9b",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WaMY1APLGlXdINip",
          "name": "TVE23CS131"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1800,
        512
      ],
      "id": "4f70ba4a-55b6-42dc-8819-4d2662238d01",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "FkhyWZc9SiOUnDIJ",
          "name": "API KEY 2"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -912,
        292
      ],
      "id": "223c443d-4054-4418-8f4c-336af1b4d3b4",
      "name": "Auditor Main",
      "credentials": {
        "groqApi": {
          "id": "FkhyWZc9SiOUnDIJ",
          "name": "API KEY 2"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -784,
        292
      ],
      "id": "584b0e36-e5c4-4c11-85c5-9adb94a57c06",
      "name": "Auditor Fallback",
      "credentials": {
        "mistralCloudApi": {
          "id": "bVCwH86SIDVpZpV2",
          "name": "API KEY 1"
        }
      }
    },
    {
      "parameters": {
        "model": "moonshotai/kimi-k2-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        8,
        260
      ],
      "id": "17d94cca-94ba-4342-9e31-c211e3b3a29f",
      "name": "Patcher Main",
      "credentials": {
        "groqApi": {
          "id": "FkhyWZc9SiOUnDIJ",
          "name": "API KEY 2"
        }
      }
    },
    {
      "parameters": {
        "model": "devstral-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        136,
        260
      ],
      "id": "32f337cb-a780-4fc3-9d1e-3965f9e70f14",
      "name": "Patcher Fallback",
      "credentials": {
        "mistralCloudApi": {
          "id": "bVCwH86SIDVpZpV2",
          "name": "API KEY 1"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Syntax Fixer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auditor Agent": {
      "main": [
        [
          {
            "node": "JSON Output Parser",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error - Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patcher Agent": {
      "main": [
        [
          {
            "node": "Increment Counter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error - Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Syntax Fixer Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Init Loop Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Loop Counter": {
      "main": [
        [
          {
            "node": "Max Retries Reached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Counter": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Max Retries Reached?": {
      "main": [
        [
          {
            "node": "Send Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auditor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vulnerabilities Found?": {
      "main": [
        [
          {
            "node": "Patcher Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Corrected Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scan_code_with_bandit": {
      "ai_tool": [
        [
          {
            "node": "Auditor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "JSON Output Parser": {
      "main": [
        [
          {
            "node": "Vulnerabilities Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Corrected Code": {
      "main": [
        [
          {
            "node": "JSON Output Parser1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Syntax Fixer Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "Syntax Fixer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "JSON Output Parser1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Syntax Fixer Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Auditor Main": {
      "ai_languageModel": [
        [
          {
            "node": "Auditor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Auditor Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "Auditor Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Patcher Main": {
      "ai_languageModel": [
        [
          {
            "node": "Patcher Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Patcher Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "Patcher Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19921415bac6b77b91e822c3e97165800ced3a4d6f63d204500fd50a2d359050"
  }
}
