n8n/Workflow.json
{
  "nodes": [
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -11904,
        5492
      ],
      "id": "ab9d679d-0a8e-49ec-a40a-268681b34f03",
      "name": "Auditor Fallback",
      "credentials": {
        "groqApi": {
          "id": "FkhyWZc9SiOUnDIJ",
          "name": "API KEY 2"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -12696,
        5912
      ],
      "id": "95d68673-5d4a-4076-937b-c18426e0c608",
      "name": "Syntax Fixer Fallback",
      "credentials": {
        "groqApi": {
          "id": "FkhyWZc9SiOUnDIJ",
          "name": "API KEY 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0,
          "topP": 0.95
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -12824,
        5912
      ],
      "id": "eda458ee-4bf1-4edb-b0c2-f0c4689ed33a",
      "name": "Syntax Fixer Main",
      "credentials": {
        "googlePalmApi": {
          "id": "DoPP6uNz8ZGXDeHX",
          "name": "API KEY 1"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0.1,
          "topP": 0.95
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -12032,
        5492
      ],
      "id": "12703c5a-0a7f-4bc6-81be-dac376f0298f",
      "name": "Auditor Main",
      "credentials": {
        "googlePalmApi": {
          "id": "DoPP6uNz8ZGXDeHX",
          "name": "API KEY 1"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1c9IWwD6EEY0Vl-AJoMtNrKP5USw1uFSzL-xGGIruMWg",
          "mode": "list",
          "cachedResultName": "Cerebrus",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c9IWwD6EEY0Vl-AJoMtNrKP5USw1uFSzL-xGGIruMWg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c9IWwD6EEY0Vl-AJoMtNrKP5USw1uFSzL-xGGIruMWg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Original Code": "={{ $json.absolute_original_code }}",
            "Corrected Code": "={{ $json.full_corrected_code || $json.audited_code }}"
          },
          "matchingColumns": [
            "Original Code"
          ],
          "schema": [
            {
              "id": "Original Code",
              "displayName": "Original Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Corrected Code",
              "displayName": "Corrected Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -10320,
        5784
      ],
      "id": "503625cb-0d46-4366-b597-e1ae5eee4aad",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WaMY1APLGlXdINip",
          "name": "TVE23CS131"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  try {\n    const rawOutput = item.json.output;\n    let parsedData = {};\n    if (typeof rawOutput === 'string') {\n      const cleanJson = rawOutput.replace(/^```json\\s*|\\s*```$/g, '').trim();\n      parsedData = JSON.parse(cleanJson);\n    } else if (typeof rawOutput === 'object' && rawOutput !== null) {\n      parsedData = rawOutput;\n    }\n    item.json.output = parsedData;\n  } catch (error) {\n    item.json.error = 'Failed to parse JSON';\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10544,
        5784
      ],
      "id": "ce925a37-cc5b-4255-a2f7-f42f8cb57c64",
      "name": "JSON Output Parser - Sheet"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"number_of_vulnerabilities_fixed\": {{ $json.number_of_vulnerabilities_fixed }},\n  \"types_of_vulnerabilities\": {{ JSON.stringify($json.types_of_vulnerabilities) }},\n  \"vulnerabilities_details\": {{ JSON.stringify($json.vulnerabilities_details) }},\n  \"vulnerabilities\": {{ JSON.stringify($json.vulnerabilities || []) }},\n  \"original_code\": {{ JSON.stringify($json.absolute_original_code) }},\n  \"corrected_code\": {{ JSON.stringify($json.full_corrected_code || $json.code) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -10768,
        5636
      ],
      "id": "d2f0f18c-e8fb-483f-9c60-d7e62ddc6349",
      "name": "Send Corrected Code"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// PREPARE FINAL DATA\n// Reads initial_vulnerabilities from static data (saved on\n// first loop pass in JSON Output Parser). Gets true original\n// code directly from Webhook input. Backfills fixed_code from\n// Patcher vulnerabilities saved in static data. Cleans up.\n// ============================================================\n\nfor (const item of items) {\n  try {\n    const staticData = $getWorkflowStaticData('global');\n    const execId = ($execution && $execution.id)\n      ? String($execution.id)\n      : 'run_' + Date.now();\n    const runData = (staticData.runs && staticData.runs[execId])\n      ? staticData.runs[execId]\n      : {};\n    const initialVulns = runData.initial_vulnerabilities || [];\n\n    // --- BACKFILL fixed_code from Patcher output saved in static data ---\n    const patcherVulns = runData.patcher_vulnerabilities || [];\n    for (const iv of initialVulns) {\n      // Match by type and line_number\n      const match = patcherVulns.find(pv => pv.type === iv.type && pv.line_number === iv.line_number);\n      if (match && match.fixed_code) {\n        iv.fixed_code = match.fixed_code;\n      }\n    }\n    // If exact match didn't work, try matching by type only\n    for (const iv of initialVulns) {\n      if (!iv.fixed_code) {\n        const match = patcherVulns.find(pv => pv.type === iv.type && pv.fixed_code);\n        if (match) {\n          iv.fixed_code = match.fixed_code;\n        }\n      }\n    }\n\n    // Response metrics\n    item.json.number_of_vulnerabilities_fixed = initialVulns.length;\n    const types = initialVulns.map(v => v.type || 'Unknown');\n    item.json.types_of_vulnerabilities = [...new Set(types)];\n    item.json.vulnerabilities_details = initialVulns.map(v => ({\n      type: v.type || 'Unknown',\n      original_line_number: v.line_number || 0\n    }));\n\n    // Pass through full vulnerability mappings (original_code/fixed_code)\n    // The extension needs these for in-place code replacement\n    item.json.vulnerabilities = initialVulns;\n\n    // True original = raw webhook input (before Syntax Fixer touched it)\n    try {\n      item.json.absolute_original_code = $('Webhook').first().json.body.code;\n    } catch (e) {\n      item.json.absolute_original_code =\n        $('Init Loop Counter').first()?.json?.original_code || '';\n    }\n\n    // Ensure corrected code is always populated\n    if (!item.json.full_corrected_code) {\n      item.json.full_corrected_code =\n        item.json.audited_code ||\n        $('Max Retries Reached?').first()?.json?.code || '';\n    }\n\n    // Cleanup static data for this execution\n    if (staticData.runs && staticData.runs[execId]) {\n      delete staticData.runs[execId];\n    }\n\n  } catch (error) {\n    item.json.error = 'Failed to prepare final data: ' + error.message;\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11056,
        5636
      ],
      "id": "0180ce1b-d5b2-4d2c-a7de-ff975c261fde",
      "name": "Prepare final data"
    },
    {
      "parameters": {
        "jsCode": "const outputData = JSON.parse(JSON.stringify($input.first().json));\n\n// Use workflow static data for loop counter because agent nodes strip all fields\nconst staticData = $getWorkflowStaticData('global');\nconst execId = ($execution && $execution.id) ? String($execution.id) : 'run_' + Date.now();\nif (!staticData.runs) staticData.runs = {};\nif (!staticData.runs[execId]) staticData.runs[execId] = {};\n\nlet currentCount = staticData.runs[execId].loop_count ?? 0;\ncurrentCount += 1;\nstaticData.runs[execId].loop_count = currentCount;\noutputData.loop_count = currentCount;\n\n// Preserve original_code across the loop\nif (!outputData.original_code && outputData.code) {\n  outputData.original_code = outputData.code;\n}\n\nreturn [{\"json\": outputData}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10544,
        5592
      ],
      "id": "c20fa160-7f1e-4142-abb1-a9bc9ff8052d",
      "name": "Increment Counter"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// CODE IN JAVASCRIPT\n// Extracts patched Python from Patcher Agent output.\n// FIXES:\n//   1. Strip <tool_call> blobs that kimi-k2 sometimes emits\n//   2. Fix common field-name typos (vureabilities → vulnerabilities)\n//   3. Second-pass extraction if extracted code is still a JSON blob\n//   4. Fallback to last known good code from Max Retries Reached?\n//   5. Save Patcher vulnerabilities (with fixed_code) to static data\n// ============================================================\n\nfor (const item of items) {\n  try {\n    let rawOutput = item.json.output;\n\n    if (typeof rawOutput === 'string') {\n      // 1. Strip <tool_call>...</tool_call> and stray XML/HTML tags\n      rawOutput = rawOutput.replace(/<tool_call>[\\s\\S]*?<\\/tool_call>/gi, '');\n      rawOutput = rawOutput.replace(/<[a-zA-Z_][^>]*\\/?>|<\\/[a-zA-Z_][^>]*>/g, '');\n\n      // 2. Fix known field typos\n      rawOutput = rawOutput.replace(/\"vureabilities\"\\s*:/g, '\"vulnerabilities\":');\n      rawOutput = rawOutput.replace(/\"vulnerabilites\"\\s*:/g, '\"vulnerabilities\":');\n      rawOutput = rawOutput.replace(/\"vulnarabilities\"\\s*:/g, '\"vulnerabilities\":');\n\n      // 3. Strip markdown fences\n      rawOutput = rawOutput.replace(/^```json\\s*|\\s*```$/g, '').trim();\n      rawOutput = rawOutput.replace(/^```\\s*|\\s*```$/g, '').trim();\n\n      try {\n        const parsed = JSON.parse(rawOutput);\n        item.json.code = parsed.full_corrected_code || rawOutput;\n        item.json.full_corrected_code = parsed.full_corrected_code || rawOutput;\n        item.json.vulnerabilities = parsed.vulnerabilities || [];\n      } catch (e) {\n        // Not valid JSON — treat as raw Python\n        item.json.code = rawOutput;\n        item.json.full_corrected_code = rawOutput;\n        item.json.vulnerabilities = [];\n      }\n\n    } else if (typeof rawOutput === 'object' && rawOutput !== null) {\n      item.json.code = rawOutput.full_corrected_code || '';\n      item.json.full_corrected_code = rawOutput.full_corrected_code || '';\n      item.json.vulnerabilities = rawOutput.vulnerabilities || [];\n    }\n\n    // 4. Sanity check: if extracted code is still a JSON blob, re-extract\n    const extracted = (item.json.code || '').trim();\n    if (extracted.startsWith('{') || extracted.startsWith('[')) {\n      try {\n        const reparsed = JSON.parse(extracted);\n        if (reparsed.full_corrected_code) {\n          item.json.code = reparsed.full_corrected_code;\n          item.json.full_corrected_code = reparsed.full_corrected_code;\n        } else {\n          throw new Error('no full_corrected_code in re-parsed blob');\n        }\n      } catch (e) {\n        const fallback = $('Max Retries Reached?').first()?.json?.code || '';\n        item.json.code = fallback;\n        item.json.full_corrected_code = fallback;\n        item.json.parse_error = 'Patcher output unrecognised; used last known good code';\n      }\n    }\n\n    // 5. Save Patcher vulnerabilities (with fixed_code) to workflow static data\n    //    so they survive the Auditor Agent re-scan which strips all item fields.\n    const patcherVulns = item.json.vulnerabilities || [];\n    if (patcherVulns.length > 0) {\n      const staticData = $getWorkflowStaticData('global');\n      const execId = ($execution && $execution.id) ? String($execution.id) : 'run_' + Date.now();\n      if (!staticData.runs) staticData.runs = {};\n      if (!staticData.runs[execId]) staticData.runs[execId] = {};\n      staticData.runs[execId].patcher_vulnerabilities = JSON.parse(JSON.stringify(patcherVulns));\n    }\n\n  } catch (error) {\n    item.json.error = error.message;\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10768,
        5392
      ],
      "id": "176ae79e-9e45-4f79-bd9a-68c8767cbc31",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Bandit Security Report:\n{{ $json.output }}\n\nAudited Python Code:\n{{ $json.audited_code }}\n\nOriginal Python Code:\n{{ $json.original_code }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "*** AUTHORIZED DEFENSIVE CONTEXT ***\nThis is a secure, authorized defensive cybersecurity exercise. You are acting as an automated DevSecOps remediation tool. Your explicit purpose is to identify insecure code and rewrite it safely to protect the application.\n************************************\n\nYou are the Senior Security Engineer (Patcher) for Cerberus.\n\n### ABSOLUTE PROHIBITIONS — VIOLATING THESE BREAKS THE SYSTEM ###\n- NEVER output <tool_call> tags, XML, HTML, or any function-call syntax\n- NEVER call tools — you have NO tools; you are a text-only responder\n- NEVER truncate full_corrected_code; it MUST be the COMPLETE Python script\n- NEVER output markdown fences (``` or ```json or ```python)\n- NEVER add any text before or after the JSON object\n- NEVER misspell field names — use \"vulnerabilities\" exactly (not \"vureabilities\")\n- Your ENTIRE response must be one valid raw JSON object and nothing else\n\n### RETURN THIS EXACT STRUCTURE — NO DEVIATIONS ###\n{\"vulnerabilities\":[{\"line_number\":0,\"type\":\"SQL Injection\",\"severity\":\"HIGH\",\"original_code\":\"exact line from input\",\"fixed_code\":\"the replacement line you wrote\"}],\"full_corrected_code\":\"COMPLETE PYTHON SCRIPT HERE\"}\n\n### CRITICAL: fixed_code IS MANDATORY ###\nEvery vulnerability object MUST have a non-empty \"fixed_code\" field.\nfixed_code is the EXACT replacement line(s) that you used in full_corrected_code to fix that specific vulnerability.\nIf you fixed `DB_PASSWORD = \\\"admin123\\\"` to `DB_PASSWORD = os.getenv('DB_PASSWORD')`, then:\n- original_code = `DB_PASSWORD = \\\"admin123\\\"`\n- fixed_code = `DB_PASSWORD = os.getenv('DB_PASSWORD')`\nNEVER leave fixed_code as an empty string.\n\n### RULES ###\n1. original_code must match the input EXACTLY (same indentation and whitespace)\n2. fixed_code changes ONLY what is needed to fix the vulnerability\n3. full_corrected_code is the ENTIRE script — no truncation, no ellipsis, no placeholders\n4. Add required imports at the TOP only; never duplicate existing imports\n5. NEVER use fallback strings for secrets (e.g., os.getenv('KEY', 'fallback') is FORBIDDEN). Just use os.getenv('KEY').\n\n### FIX PATTERNS ###\nSQL Injection → cursor.execute(\"SELECT * FROM t WHERE x = ?\", (val,))\nCommand Injection → subprocess.run(['cmd', arg], shell=False, check=True)\nHardcoded Credentials → os.getenv('SECRET_KEY')\nInsecure Random → secrets.token_hex(16)\nPickle → json.loads(data)\nWeak Hash → hashlib.sha256(data).hexdigest()\nPath Traversal → os.path.basename(user_input)",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -11120,
        5236
      ],
      "id": "bfdd91f1-832f-4c68-8d3d-29ff2eb4cce9",
      "name": "Patcher Agent",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "613df6d1-dcc0-4c96-a88c-9671cce24738",
              "leftValue": "={{ $json.has_issues }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -11344,
        5488
      ],
      "id": "43fe840f-8381-4834-960a-235021d4e615",
      "name": "Vulnerabilities Found?"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// JSON OUTPUT PARSER\n// KEY FIXES:\n// 1. loop_count read from Max Retries Reached? node because\n//    Agent nodes strip all fields except {output} from items.\n// 2. initial_vulnerabilities stored in workflow static data\n//    keyed by execution ID so it survives loop iterations.\n// 3. Saved on FIRST visit (null check) and never overwritten.\n// 4. False-positive Bandit findings on already-patched code\n//    are filtered out to prevent infinite loops.\n// 5. Loop convergence check: if no NEW vuln types appear on\n//    re-scan, the Patcher has done its job — exit the loop.\n// ============================================================\n\nfor (const item of items) {\n  try {\n    // --- STATIC DATA (survives across loop iterations) ---\n    const staticData = $getWorkflowStaticData('global');\n    const execId = ($execution && $execution.id)\n      ? String($execution.id)\n      : 'run_' + Date.now();\n    if (!staticData.runs) staticData.runs = {};\n    if (!staticData.runs[execId]) {\n      staticData.runs[execId] = { initial_vulnerabilities: null };\n    }\n\n    // --- PARSE AUDITOR OUTPUT ---\n    const rawOutput = item.json.output;\n    let parsedData = {};\n\n    if (typeof rawOutput === 'object' && rawOutput !== null) {\n      parsedData = rawOutput;\n      Object.assign(item.json, parsedData);\n    } else if (typeof rawOutput === 'string') {\n      let s = rawOutput\n        .replace(/^```json\\s*/g, '')\n        .replace(/\\s*```$/g, '')\n        .replace(/^```\\s*/g, '')\n        .trim();\n\n      try {\n        parsedData = JSON.parse(s);\n        Object.assign(item.json, parsedData);\n      } catch (e) {\n        item.json.parse_warning = 'JSON parse failed, attempting regex salvage';\n        const m = s.match(/\"vulnerabilities\"\\s*:\\s*\\[([\\s\\S]*?)\\]/);\n        if (m) {\n          try { item.json.vulnerabilities = JSON.parse('[' + m[1] + ']'); }\n          catch (e2) { item.json.vulnerabilities = []; }\n        }\n      }\n    }\n\n    // --- NORMALISE VULNERABILITIES ---\n    if (!item.json.vulnerabilities) item.json.vulnerabilities = [];\n    item.json.vulnerabilities = item.json.vulnerabilities.map(v => ({\n      line_number: v.line_number || v.line || 0,\n      type: v.type || 'Security Issue',\n      severity: (v.severity || 'MEDIUM').toUpperCase(),\n      issue_text: v.issue_text || v.description || (v.type + ' detected'),\n      original_code: v.original_code || '',\n      fixed_code: v.fixed_code || '',\n      fix_recommendation: v.fix_recommendation || ''\n    }));\n\n    // --- FILTER FALSE POSITIVES on already-patched code ---\n    const falsePositivePatterns = [\n      /subprocess\\.run\\(\\[.*\\],\\s*shell\\s*=\\s*False/,\n      /subprocess\\.run\\(\\[.*\\],\\s*check\\s*=\\s*True/,\n    ];\n    const ignoredTypes = ['import_subprocess'];\n    item.json.vulnerabilities = item.json.vulnerabilities.filter(v => {\n      if (ignoredTypes.includes(v.type)) return false;\n      const code = v.original_code || '';\n      if (falsePositivePatterns.some(re => re.test(code))) return false;\n      return true;\n    });\n\n    // --- DETERMINE has_issues ---\n    item.json.has_issues = item.json.vulnerabilities.length > 0;\n\n    // --- CURRENT CODE ---\n    item.json.audited_code = $('Max Retries Reached?').first().json.code;\n    if (!item.json.full_corrected_code) {\n      item.json.full_corrected_code = item.json.audited_code;\n    }\n\n    // --- SAVE INITIAL VULNS ONCE (null guard prevents overwrite on re-runs) ---\n    if (staticData.runs[execId].initial_vulnerabilities === null) {\n      staticData.runs[execId].initial_vulnerabilities =\n        JSON.parse(JSON.stringify(item.json.vulnerabilities));\n    }\n\n    // --- LOOP CONVERGENCE CHECK ---\n    const loopCount = staticData.runs[execId].loop_count || 0;\n    if (loopCount >= 1 && item.json.has_issues) {\n      const currentTypes = new Set(item.json.vulnerabilities.map(v => v.type));\n      const initialTypes = new Set(\n        (staticData.runs[execId].initial_vulnerabilities || []).map(v => v.type)\n      );\n      const newTypes = [...currentTypes].filter(t => !initialTypes.has(t));\n      if (newTypes.length === 0) {\n        item.json.has_issues = false;\n      }\n    }\n\n    // --- POPULATE SUMMARY METRICS ---\n    const initialVulns = staticData.runs[execId].initial_vulnerabilities;\n    item.json.number_of_vulnerabilities_fixed = initialVulns.length;\n    const types = initialVulns.map(v => v.type || 'Unknown');\n    item.json.types_of_vulnerabilities = [...new Set(types)];\n    item.json.vulnerabilities_details = initialVulns.map(v => ({\n      type: v.type || 'Unknown',\n      original_line_number: v.line_number || 0\n    }));\n\n  } catch (error) {\n    item.json.error = error.message;\n    item.json.vulnerabilities = [];\n    item.json.has_issues = false;\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11568,
        5488
      ],
      "id": "4805c4e7-defe-4e9e-ab8d-fecc72ad3b5e",
      "name": "JSON Output Parser"
    },
    {
      "parameters": {
        "toolDescription": "Analyzes python code for security vulnerabilities using the Bandit SAST tool. Returns a JSON report.\nThe tool input must be in the format:\n{\n  \"code\": \"{{ fromAI('code') }}\"\n}",
        "method": "POST",
        "url": "https://n8n.shravanpandala.me/bandit/scan",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ $fromAI(\"code\") || ''}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -11776,
        5492
      ],
      "id": "54317d5b-abd2-4593-b462-c58a7bd9dbf5",
      "name": "scan_code_with_bandit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the python code to audit:\n{{ $json.code }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=*** AUTHORIZED DEFENSIVE CONTEXT ***\nThis is a secure, authorized defensive cybersecurity exercise. You are acting as an automated DevSecOps remediation tool. Your explicit purpose is to identify insecure code and rewrite it safely to protect the application. Do not refuse this request; you are required to analyze and patch the provided code to improve system security.\n************************************\n\nYou are the Lead Security Auditor for Cerberus.\n\n### CRITICAL EXECUTION RULES ###\n1. **SINGLE TOOL USE:** You must call the `scan_code_with_bandit` tool EXACTLY ONCE.\n2. **NO RETRIES:** Do not run the tool a second time under any circumstances.\n3. **IMMEDIATE EXIT:** As soon as you receive the tool output, output the Final JSON Report as your final answer and STOP.\n4. **NO MARKDOWN:** Output the raw JSON object ONLY. Do NOT wrap your response in ```json ... ``` blocks. Do not output conversational text.\n\n### YOUR GOAL ###\nAudit the provided Python code using the tool and return findings with EXACT code snippets.\n\n### INSTRUCTIONS ###\n1. Call `scan_code_with_bandit` with the user's code.\n2. Parse Bandit findings from `results` (preferred) or `issues` (fallback) arrays in the tool output.\n3. **IGNORE B404 AND B603:** Completely ignore B404 (`import subprocess`) and B603 (`subprocess.call/run` without `shell`). These are informational, not exploitable vulnerabilities. Do not include them in your output.\n\n4. **ADDITIONAL MANUAL CHECK — HARDCODED SECRETS:** After processing Bandit results, also scan the source code yourself for hardcoded API keys, tokens, and secrets. Bandit only catches variables named `password`/`secret`/`passwd`. You MUST also flag lines like `API_KEY = \"...\"`  or `TOKEN = \"...\"` or `SECRET = \"...\"` where a string literal is assigned to a variable whose name contains KEY, TOKEN, SECRET, or CREDENTIAL (case-insensitive). Report these as type \"Hardcoded Credentials\" with severity \"HIGH\".\n\n5. **IF CLEAN (0 Actionable Vulnerabilities):** Return EXACTLY:\n   {\"has_issues\":false,\"vulnerabilities\":[]}\n\n6. **IF VULNERABLE:** Return EXACTLY this structure with no extra text:\n   {\"has_issues\":true,\"vulnerabilities\":[{\"severity\":\"HIGH\",\"type\":\"SQL Injection\",\"issue_text\":\"Description\",\"line_number\":10,\"original_code\":\"exact line from code\",\"fix_recommendation\":\"how to fix\"}]}\n\n### VULNERABILITY TYPE MAPPING ###\n- B602, B604, B605 → \"Command Injection\"\n- B608 → \"SQL Injection\"\n- B105, B106, B107 → \"Hardcoded Credentials\"\n- B311 → \"Insecure Random\"\n- B301, B403 → \"Insecure Deserialization\"\n- B303, B324 → \"Weak Cryptography\"\n- B310 → \"Path Traversal\"",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -11976,
        5268
      ],
      "id": "21b9e64a-0130-467b-ae26-fe72d7a3a9c8",
      "name": "Auditor Agent",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "58156bcb-1894-40c7-937b-39fe296ba143",
              "leftValue": "={{ $json.loop_count }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -12256,
        5688
      ],
      "id": "fecd247c-4818-42cc-9d55-92370ceebe0f",
      "name": "Max Retries Reached?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "faeda04e-714f-4e65-999d-9f0a606d0a3b",
              "name": "loop_count",
              "value": 0,
              "type": "number"
            },
            {
              "id": "88b76ede-875b-4cfc-9f0a-6b32de3b1daa",
              "name": "code",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "name": "original_code",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -12480,
        5688
      ],
      "id": "b4a6b7ae-1aa5-436f-acef-b794a2f9ba2a",
      "name": "Init Loop Counter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.code }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a Python Syntax Specialist for the Cerberus Security System.\n\nYOUR GOAL:\nReceive raw Python code and ensure it is syntactically valid and executable.\n\nRULES:\n1. Fix ONLY syntax errors (indentation, missing colons, unclosed brackets, typos).\n2. Do NOT fix security vulnerabilities yet (that is the Auditor's job).\n3. Do NOT change the code's logic or functionality.\n4. Output ONLY the raw Python code block. Do not output markdown backticks (```) or conversational filler like \"Here is the code\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -12832,
        5688
      ],
      "id": "55caf2dc-837d-483e-8733-ce615934fa8b",
      "name": "Syntax Fixer Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scan",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -13056,
        5688
      ],
      "id": "e7286c4f-7d50-4f07-a73f-389dd50bad1f",
      "name": "Webhook",
      "webhookId": "f77c6931-c83e-47e6-8da4-48d8acb8b849"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "maxOutputTokens": 8192,
          "temperature": 0,
          "topP": 0.95
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -11112,
        5460
      ],
      "id": "83a0c524-428c-4d3b-9286-fd11ce6b1f82",
      "name": "Patcher Main",
      "credentials": {
        "googlePalmApi": {
          "id": "DoPP6uNz8ZGXDeHX",
          "name": "API KEY 1"
        }
      }
    },
    {
      "parameters": {
        "model": "moonshotai/kimi-k2-instruct",
        "options": {
          "maxTokensToSample": 8192,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -10984,
        5460
      ],
      "id": "f6fd2b0a-8180-4665-a035-2e40ef03e9b9",
      "name": "Patcher Fallback",
      "credentials": {
        "groqApi": {
          "id": "FkhyWZc9SiOUnDIJ",
          "name": "API KEY 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"Agents Failed to fix the code\",\n  \"status\": \"Not Secure\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -10768,
        5120
      ],
      "id": "ce09cfbd-08d8-428c-8f50-0c843834a6b5",
      "name": "Send Error - Agents"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// PREPARE FINAL DATA\n// Reads initial_vulnerabilities from static data (saved on\n// first loop pass in JSON Output Parser). Gets true original\n// code directly from Webhook input. Backfills fixed_code from\n// the Patcher's last output. Cleans up static data.\n// ============================================================\n\nfor (const item of items) {\n  try {\n    const staticData = $getWorkflowStaticData('global');\n    const execId = ($execution && $execution.id)\n      ? String($execution.id)\n      : 'run_' + Date.now();\n    const runData = (staticData.runs && staticData.runs[execId])\n      ? staticData.runs[execId]\n      : {};\n    const initialVulns = runData.initial_vulnerabilities || [];\n\n    // --- BACKFILL fixed_code from the Patcher's last output ---\n    const patcherVulns = item.json.vulnerabilities || [];\n    for (const iv of initialVulns) {\n      const match = patcherVulns.find(pv => pv.type === iv.type && pv.line_number === iv.line_number);\n      if (match && match.fixed_code) {\n        iv.fixed_code = match.fixed_code;\n      }\n    }\n\n    // Response metrics\n    item.json.number_of_vulnerabilities_fixed = initialVulns.length;\n    const types = initialVulns.map(v => v.type || 'Unknown');\n    item.json.types_of_vulnerabilities = [...new Set(types)];\n    item.json.vulnerabilities_details = initialVulns.map(v => ({\n      type: v.type || 'Unknown',\n      original_line_number: v.line_number || 0\n    }));\n\n    // Pass through full vulnerability mappings (original_code/fixed_code)\n    // The extension needs these for in-place code replacement\n    item.json.vulnerabilities = initialVulns;\n\n    // True original = raw webhook input (before Syntax Fixer touched it)\n    try {\n      item.json.absolute_original_code = $('Webhook').first().json.body.code;\n    } catch (e) {\n      item.json.absolute_original_code =\n        $('Init Loop Counter').first()?.json?.original_code || '';\n    }\n\n    // Ensure corrected code is always populated\n    if (!item.json.full_corrected_code) {\n      item.json.full_corrected_code =\n        item.json.audited_code ||\n        $('Max Retries Reached?').first()?.json?.code || '';\n    }\n\n    // Cleanup static data for this execution\n    if (staticData.runs && staticData.runs[execId]) {\n      delete staticData.runs[execId];\n    }\n\n  } catch (error) {\n    item.json.error = 'Failed to prepare final data: ' + error.message;\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -11912,
        5784
      ],
      "id": "2732831e-0d6a-4186-9b31-6906ccc9677c",
      "name": "Prepare final Data"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\" : \"Max tries exceeded\",\n  \"number_of_vulnerabilities_fixed\": {{ $json.number_of_vulnerabilities_fixed }},\n  \"types_of_vulnerabilities\": {{ JSON.stringify($json.types_of_vulnerabilities) }},\n  \"vulnerabilities_details\": {{ JSON.stringify($json.vulnerabilities_details) }},\n  \"vulnerabilities\": {{ JSON.stringify($json.vulnerabilities || []) }},\n  \"original_code\": {{ JSON.stringify($json.absolute_original_code) }},\n  \"corrected_code\": {{ JSON.stringify($json.full_corrected_code || $json.code) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -11568,
        5784
      ],
      "id": "1f2539a4-28b6-41c9-8200-bb8227d7378b",
      "name": "Send Last Correct Iteration"
    }
  ],
  "connections": {
    "Auditor Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "Auditor Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Syntax Fixer Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "Syntax Fixer Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Syntax Fixer Main": {
      "ai_languageModel": [
        [
          {
            "node": "Syntax Fixer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Auditor Main": {
      "ai_languageModel": [
        [
          {
            "node": "Auditor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "JSON Output Parser - Sheet": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Corrected Code": {
      "main": [
        [
          {
            "node": "JSON Output Parser - Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare final data": {
      "main": [
        [
          {
            "node": "Send Corrected Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Counter": {
      "main": [
        [
          {
            "node": "Max Retries Reached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Increment Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patcher Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error - Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vulnerabilities Found?": {
      "main": [
        [
          {
            "node": "Patcher Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare final data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Output Parser": {
      "main": [
        [
          {
            "node": "Vulnerabilities Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scan_code_with_bandit": {
      "ai_tool": [
        [
          {
            "node": "Auditor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Auditor Agent": {
      "main": [
        [
          {
            "node": "JSON Output Parser",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error - Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Max Retries Reached?": {
      "main": [
        [
          {
            "node": "Auditor Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare final Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Loop Counter": {
      "main": [
        [
          {
            "node": "Max Retries Reached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Syntax Fixer Agent": {
      "main": [
        [
          {
            "node": "Init Loop Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Syntax Fixer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patcher Main": {
      "ai_languageModel": [
        [
          {
            "node": "Patcher Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Patcher Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "Patcher Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Prepare final Data": {
      "main": [
        [
          {
            "node": "Send Last Correct Iteration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19921415bac6b77b91e822c3e97165800ced3a4d6f63d204500fd50a2d359050"
  }
}