n8n/Workflow.json
{
  "nodes": [
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -16944,
        6848
      ],
      "id": "5a1beaef-7a16-431f-85dc-c1de88bec582",
      "name": "Auditor Fallback",
      "credentials": {
        "groqApi": {
          "id": "FkhyWZc9SiOUnDIJ",
          "name": "API KEY 2"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -17744,
        7264
      ],
      "id": "cb0be7f8-5b63-49aa-a7d0-a9b17ea972fb",
      "name": "Syntax Fixer Fallback",
      "credentials": {
        "groqApi": {
          "id": "FkhyWZc9SiOUnDIJ",
          "name": "API KEY 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0,
          "topP": 0.95
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -17872,
        7264
      ],
      "id": "176f62f8-2b62-41a7-acef-70a336ace7f0",
      "name": "Syntax Fixer Main",
      "credentials": {
        "googlePalmApi": {
          "id": "DoPP6uNz8ZGXDeHX",
          "name": "API KEY 1"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 4096,
          "temperature": 0.1,
          "topP": 0.95
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -17072,
        6848
      ],
      "id": "429bc04e-8c21-4706-b68a-04d414622265",
      "name": "Auditor Main",
      "credentials": {
        "googlePalmApi": {
          "id": "DoPP6uNz8ZGXDeHX",
          "name": "API KEY 1"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1c9IWwD6EEY0Vl-AJoMtNrKP5USw1uFSzL-xGGIruMWg",
          "mode": "list",
          "cachedResultName": "Cerebrus",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c9IWwD6EEY0Vl-AJoMtNrKP5USw1uFSzL-xGGIruMWg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1c9IWwD6EEY0Vl-AJoMtNrKP5USw1uFSzL-xGGIruMWg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Original Code": "={{ $json.absolute_original_code }}",
            "Corrected Code": "={{ $json.full_corrected_code || $json.audited_code }}"
          },
          "matchingColumns": [
            "Original Code"
          ],
          "schema": [
            {
              "id": "Original Code",
              "displayName": "Original Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Corrected Code",
              "displayName": "Corrected Code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -15360,
        7136
      ],
      "id": "eac1c903-8f0c-4501-86a5-df1afb6a5a32",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WaMY1APLGlXdINip",
          "name": "TVE23CS131"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  try {\n    const rawOutput = item.json.output;\n    let parsedData = {};\n    if (typeof rawOutput === 'string') {\n      const cleanJson = rawOutput.replace(/^```json\\s*|\\s*```$/g, '').trim();\n      parsedData = JSON.parse(cleanJson);\n    } else if (typeof rawOutput === 'object' && rawOutput !== null) {\n      parsedData = rawOutput;\n    }\n    item.json.output = parsedData;\n  } catch (error) {\n    item.json.error = 'Failed to parse JSON';\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15584,
        7136
      ],
      "id": "6c6d01ef-ef1f-4482-b7e7-ff407e443b28",
      "name": "JSON Output Parser - Sheet"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"number_of_vulnerabilities_fixed\": {{ $json.number_of_vulnerabilities_fixed }},\n  \"types_of_vulnerabilities\": {{ JSON.stringify($json.types_of_vulnerabilities) }},\n  \"vulnerabilities_details\": {{ JSON.stringify($json.vulnerabilities_details) }},\n  \"vulnerabilities\": {{ JSON.stringify($json.vulnerabilities || []) }},\n  \"original_code\": {{ JSON.stringify($json.absolute_original_code) }},\n  \"corrected_code\": {{ JSON.stringify($json.full_corrected_code || $json.code) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -15808,
        6992
      ],
      "id": "1758f07f-1ba1-4407-a709-83ec82ba95e4",
      "name": "Send Corrected Code"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// PREPARE FINAL DATA\n// ============================================================\n\nfor (const item of items) {\n  try {\n    const staticData = $getWorkflowStaticData('global');\n    const execId = ($execution && $execution.id) ? String($execution.id) : 'run_' + Date.now();\n    const runData = (staticData.runs && staticData.runs[execId]) ? staticData.runs[execId] : {};\n    const initialVulns = runData.initial_vulnerabilities || [];\n\n    // --- BACKFILL fixed_code ---\n    // Look at item.json.vulnerabilities (fallback node) or staticData (success node)\n    const patcherVulns = runData.patcher_vulnerabilities || item.json.vulnerabilities || [];\n    \n    for (const iv of initialVulns) {\n      const match = patcherVulns.find(pv => pv.type === iv.type && pv.line_number === iv.line_number);\n      if (match && match.fixed_code) {\n        iv.fixed_code = match.fixed_code;\n      }\n    }\n    for (const iv of initialVulns) {\n      if (!iv.fixed_code) {\n        const match = patcherVulns.find(pv => pv.type === iv.type && pv.fixed_code);\n        if (match) iv.fixed_code = match.fixed_code;\n      }\n    }\n\n    item.json.number_of_vulnerabilities_fixed = initialVulns.length;\n    const types = initialVulns.map(v => v.type || 'Unknown');\n    item.json.types_of_vulnerabilities = [...new Set(types)];\n    item.json.vulnerabilities_details = initialVulns.map(v => ({\n      type: v.type || 'Unknown',\n      original_line_number: v.line_number || 0\n    }));\n\n    item.json.vulnerabilities = initialVulns;\n\n    try {\n      item.json.absolute_original_code = $('Webhook').first().json.body.code;\n    } catch (e) {\n      item.json.absolute_original_code = $('Init Loop Counter').first()?.json?.original_code || '';\n    }\n\n    // FIXED: Use .last() instead of .first() for the fallback code string\n    if (!item.json.full_corrected_code) {\n      item.json.full_corrected_code =\n        item.json.audited_code ||\n        $('Max Retries Reached?').last()?.json?.code || '';\n    }\n\n    if (staticData.runs && staticData.runs[execId]) {\n      delete staticData.runs[execId];\n    }\n\n  } catch (error) {\n    item.json.error = 'Failed to prepare final data: ' + error.message;\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16096,
        6992
      ],
      "id": "32821b05-567f-48e2-b13d-02c5414eb6ee",
      "name": "Prepare final data"
    },
    {
      "parameters": {
        "jsCode": "const outputData = JSON.parse(JSON.stringify($input.first().json));\n\n// Use workflow static data for loop counter because agent nodes strip all fields\nconst staticData = $getWorkflowStaticData('global');\nconst execId = ($execution && $execution.id) ? String($execution.id) : 'run_' + Date.now();\nif (!staticData.runs) staticData.runs = {};\nif (!staticData.runs[execId]) staticData.runs[execId] = {};\n\nlet currentCount = staticData.runs[execId].loop_count ?? 0;\ncurrentCount += 1;\nstaticData.runs[execId].loop_count = currentCount;\noutputData.loop_count = currentCount;\n\n// Preserve original_code across the loop\nif (!outputData.original_code && outputData.code) {\n  outputData.original_code = outputData.code;\n}\n\nreturn [{\"json\": outputData}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15584,
        6944
      ],
      "id": "bc73ca48-d04d-4d53-beef-ccc9d2a7862d",
      "name": "Increment Counter"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// CODE IN JAVASCRIPT\n// Extracts patched Python from Patcher Agent output.\n// ============================================================\n\nfor (const item of items) {\n  try {\n    let rawOutput = item.json.output;\n\n    if (typeof rawOutput === 'string') {\n      // 1. Strip <tool_call>...</tool_call> and stray XML/HTML tags\n      rawOutput = rawOutput.replace(/<tool_call>[\\s\\S]*?<\\/tool_call>/gi, '');\n      rawOutput = rawOutput.replace(/<[a-zA-Z_][^>]*\\/?>|<\\/[a-zA-Z_][^>]*>/g, '');\n\n      // 2. Fix known field typos\n      rawOutput = rawOutput.replace(/\"vureabilities\"\\s*:/g, '\"vulnerabilities\":');\n      rawOutput = rawOutput.replace(/\"vulnerabilites\"\\s*:/g, '\"vulnerabilities\":');\n      rawOutput = rawOutput.replace(/\"vulnarabilities\"\\s*:/g, '\"vulnerabilities\":');\n\n      // 3. Strip markdown fences\n      rawOutput = rawOutput.replace(/^```json\\s*|\\s*```$/g, '').trim();\n      rawOutput = rawOutput.replace(/^```\\s*|\\s*```$/g, '').trim();\n\n      try {\n        const parsed = JSON.parse(rawOutput);\n        item.json.code = parsed.full_corrected_code || rawOutput;\n        item.json.full_corrected_code = parsed.full_corrected_code || rawOutput;\n        item.json.vulnerabilities = parsed.vulnerabilities || [];\n      } catch (e) {\n        // Not valid JSON — treat as raw Python\n        item.json.code = rawOutput;\n        item.json.full_corrected_code = rawOutput;\n        item.json.vulnerabilities = [];\n      }\n\n    } else if (typeof rawOutput === 'object' && rawOutput !== null) {\n      item.json.code = rawOutput.full_corrected_code || '';\n      item.json.full_corrected_code = rawOutput.full_corrected_code || '';\n      item.json.vulnerabilities = rawOutput.vulnerabilities || [];\n    }\n\n    // 4. Sanity check: if extracted code is still a JSON blob, re-extract\n    const extracted = (item.json.code || '').trim();\n    if (extracted.startsWith('{') || extracted.startsWith('[')) {\n      try {\n        const reparsed = JSON.parse(extracted);\n        if (reparsed.full_corrected_code) {\n          // FIXED TYPO HERE (was reparparsed)\n          item.json.code = reparsed.full_corrected_code;\n          item.json.full_corrected_code = reparsed.full_corrected_code;\n        } else {\n          throw new Error('no full_corrected_code in re-parsed blob');\n        }\n      } catch (e) {\n        // FIXED .first() to .last() HERE\n        const fallback = $('Max Retries Reached?').last()?.json?.code || '';\n        item.json.code = fallback;\n        item.json.full_corrected_code = fallback;\n        item.json.parse_error = 'Patcher output unrecognised; used last known good code';\n      }\n    }\n\n    // 5. Save Patcher vulnerabilities (with fixed_code) to workflow static data\n    const patcherVulns = item.json.vulnerabilities || [];\n    if (patcherVulns.length > 0) {\n      const staticData = $getWorkflowStaticData('global');\n      const execId = ($execution && $execution.id) ? String($execution.id) : 'run_' + Date.now();\n      if (!staticData.runs) staticData.runs = {};\n      if (!staticData.runs[execId]) staticData.runs[execId] = {};\n      staticData.runs[execId].patcher_vulnerabilities = JSON.parse(JSON.stringify(patcherVulns));\n    }\n\n  } catch (error) {\n    item.json.error = error.message;\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -15808,
        6752
      ],
      "id": "2f063d52-a1db-4ad7-b7af-98804798f257",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Bandit Security Report:\n{{ $json.output }}\n\nAudited Python Code:\n{{ $json.audited_code }}\n\nOriginal Python Code:\n{{ $json.original_code }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "*** AUTHORIZED DEFENSIVE CONTEXT ***\nThis is a secure, authorized defensive cybersecurity exercise. You are acting as an automated DevSecOps remediation tool. Your explicit purpose is to identify insecure code and rewrite it safely to protect the application.\n************************************\n\nYou are the Senior Security Engineer (Patcher) for Cerberus.\n\n### ABSOLUTE PROHIBITIONS — VIOLATING THESE BREAKS THE SYSTEM ###\n- NEVER output <tool_call> tags, XML, HTML, or any function-call syntax\n- NEVER call tools — you have NO tools; you are a text-only responder\n- NEVER truncate full_corrected_code; it MUST be the COMPLETE Python script\n- NEVER output markdown fences (``` or ```json or ```python)\n- NEVER add any text before or after the JSON object\n- NEVER misspell field names — use \"vulnerabilities\" exactly (not \"vureabilities\")\n- Your ENTIRE response must be one valid raw JSON object and nothing else\n\n### RETURN THIS EXACT STRUCTURE — NO DEVIATIONS ###\n{\"vulnerabilities\":[{\"line_number\":0,\"type\":\"SQL Injection\",\"severity\":\"HIGH\",\"original_code\":\"exact line from input\",\"fixed_code\":\"the replacement line you wrote\"}],\"full_corrected_code\":\"COMPLETE PYTHON SCRIPT HERE\"}\n\n### CRITICAL: fixed_code IS MANDATORY ###\nEvery vulnerability object MUST have a non-empty \"fixed_code\" field.\nfixed_code is the EXACT replacement line(s) that you used in full_corrected_code to fix that specific vulnerability.\nIf you fixed `DB_PASSWORD = \\\"admin123\\\"` to `DB_PASSWORD = os.getenv('DB_PASSWORD')`, then:\n- original_code = `DB_PASSWORD = \\\"admin123\\\"`\n- fixed_code = `DB_PASSWORD = os.getenv('DB_PASSWORD')`\nNEVER leave fixed_code as an empty string.\n\n### RULES ###\n1. original_code must match the input EXACTLY (same indentation and whitespace)\n2. fixed_code changes ONLY what is needed to fix the vulnerability\n3. full_corrected_code is the ENTIRE script — no truncation, no ellipsis, no placeholders\n4. Add required imports at the TOP only; never duplicate existing imports\n5. NEVER use fallback strings for secrets (e.g., os.getenv('KEY', 'fallback') is FORBIDDEN). Just use os.getenv('KEY').\n\n### FIX PATTERNS ###\nSQL Injection → cursor.execute(\"SELECT * FROM t WHERE x = ?\", (val,))\nCommand Injection → subprocess.run(['cmd', arg], shell=False, check=True)\nHardcoded Credentials → os.getenv('SECRET_KEY')\nInsecure Random → secrets.token_hex(16)\nPickle → json.loads(data)\nWeak Hash → hashlib.sha256(data).hexdigest()\nPath Traversal → os.path.basename(user_input)",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -16160,
        6592
      ],
      "id": "9813a8cc-f975-4cb6-8865-0cf67632c1d2",
      "name": "Patcher Agent",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "613df6d1-dcc0-4c96-a88c-9671cce24738",
              "leftValue": "={{ $json.has_issues }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -16384,
        6848
      ],
      "id": "c9a02246-9e92-4950-a54e-f070d09d3eb2",
      "name": "Vulnerabilities Found?"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// JSON OUTPUT PARSER\n// ============================================================\n\nfor (const item of items) {\n  try {\n    const staticData = $getWorkflowStaticData('global');\n    const execId = ($execution && $execution.id) ? String($execution.id) : 'run_' + Date.now();\n    if (!staticData.runs) staticData.runs = {};\n    if (!staticData.runs[execId]) {\n      staticData.runs[execId] = { initial_vulnerabilities: null };\n    }\n\n    const rawOutput = item.json.output;\n    let parsedData = {};\n\n    if (typeof rawOutput === 'object' && rawOutput !== null) {\n      parsedData = rawOutput;\n      Object.assign(item.json, parsedData);\n    } else if (typeof rawOutput === 'string') {\n      let s = rawOutput\n        .replace(/^```json\\s*/g, '')\n        .replace(/\\s*```$/g, '')\n        .replace(/^```\\s*/g, '')\n        .trim();\n\n      try {\n        parsedData = JSON.parse(s);\n        Object.assign(item.json, parsedData);\n      } catch (e) {\n        item.json.parse_warning = 'JSON parse failed, attempting regex salvage';\n        const m = s.match(/\"vulnerabilities\"\\s*:\\s*\\[([\\s\\S]*?)\\]/);\n        if (m) {\n          try { item.json.vulnerabilities = JSON.parse('[' + m[1] + ']'); }\n          catch (e2) { item.json.vulnerabilities = []; }\n        }\n      }\n    }\n\n    if (!item.json.vulnerabilities) item.json.vulnerabilities = [];\n    item.json.vulnerabilities = item.json.vulnerabilities.map(v => ({\n      line_number: v.line_number || v.line || 0,\n      type: v.type || 'Security Issue',\n      severity: (v.severity || 'MEDIUM').toUpperCase(),\n      issue_text: v.issue_text || v.description || (v.type + ' detected'),\n      original_code: v.original_code || '',\n      fixed_code: v.fixed_code || '',\n      fix_recommendation: v.fix_recommendation || ''\n    }));\n\n    const falsePositivePatterns = [\n      /subprocess\\.run\\(\\[.*\\],\\s*shell\\s*=\\s*False/,\n      /subprocess\\.run\\(\\[.*\\],\\s*check\\s*=\\s*True/,\n    ];\n    const ignoredTypes = ['import_subprocess'];\n    item.json.vulnerabilities = item.json.vulnerabilities.filter(v => {\n      if (ignoredTypes.includes(v.type)) return false;\n      const code = v.original_code || '';\n      if (falsePositivePatterns.some(re => re.test(code))) return false;\n      return true;\n    });\n\n    item.json.has_issues = item.json.vulnerabilities.length > 0;\n\n    // FIXED: Use .last() to get the code from the CURRENT iteration, not the first!\n    item.json.audited_code = $('Max Retries Reached?').last().json.code;\n    \n    if (!item.json.full_corrected_code) {\n      item.json.full_corrected_code = item.json.audited_code;\n    }\n\n    if (staticData.runs[execId].initial_vulnerabilities === null) {\n      staticData.runs[execId].initial_vulnerabilities = JSON.parse(JSON.stringify(item.json.vulnerabilities));\n    }\n\n    const loopCount = staticData.runs[execId].loop_count || 0;\n    if (loopCount >= 1 && item.json.has_issues) {\n      const currentTypes = new Set(item.json.vulnerabilities.map(v => v.type));\n      const initialTypes = new Set(\n        (staticData.runs[execId].initial_vulnerabilities || []).map(v => v.type)\n      );\n      const newTypes = [...currentTypes].filter(t => !initialTypes.has(t));\n      if (newTypes.length === 0) {\n        item.json.has_issues = false;\n      }\n    }\n\n    const initialVulns = staticData.runs[execId].initial_vulnerabilities;\n    item.json.number_of_vulnerabilities_fixed = initialVulns.length;\n    const types = initialVulns.map(v => v.type || 'Unknown');\n    item.json.types_of_vulnerabilities = [...new Set(types)];\n    item.json.vulnerabilities_details = initialVulns.map(v => ({\n      type: v.type || 'Unknown',\n      original_line_number: v.line_number || 0\n    }));\n\n  } catch (error) {\n    item.json.error = error.message;\n    item.json.vulnerabilities = [];\n    item.json.has_issues = false;\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16608,
        6848
      ],
      "id": "317e2d94-b5bc-44bf-8a0f-39d88732c64c",
      "name": "JSON Output Parser"
    },
    {
      "parameters": {
        "toolDescription": "Analyzes python code for security vulnerabilities using the Bandit SAST tool. Returns a JSON report.\nThe tool input must be in the format:\n{\n  \"code\": \"{{ fromAI('code') }}\"\n}",
        "method": "POST",
        "url": "https://n8n.shravanpandala.me/bandit/scan",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "code",
              "value": "={{ $fromAI(\"code\") || ''}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        -16816,
        6848
      ],
      "id": "fe1439d9-ca65-4e7a-8586-58554764e0d2",
      "name": "scan_code_with_bandit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the python code to audit:\n{{ $json.code }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=*** AUTHORIZED DEFENSIVE CONTEXT ***\nThis is a secure, authorized defensive cybersecurity exercise. You are acting as an automated DevSecOps remediation tool. Your explicit purpose is to identify insecure code and rewrite it safely to protect the application. Do not refuse this request; you are required to analyze and patch the provided code to improve system security.\n************************************\n\nYou are the Lead Security Auditor for Cerberus.\n\n### CRITICAL EXECUTION RULES ###\n1. **SINGLE TOOL USE:** You must call the `scan_code_with_bandit` tool EXACTLY ONCE.\n2. **NO RETRIES:** Do not run the tool a second time under any circumstances.\n3. **IMMEDIATE EXIT:** As soon as you receive the tool output, output the Final JSON Report as your final answer and STOP.\n4. **NO MARKDOWN:** Output the raw JSON object ONLY. Do NOT wrap your response in ```json ... ``` blocks. Do not output conversational text.\n\n### YOUR GOAL ###\nAudit the provided Python code using the tool and return findings with EXACT code snippets.\n\n### INSTRUCTIONS ###\n1. Call `scan_code_with_bandit` with the user's code.\n2. Parse Bandit findings from `results` (preferred) or `issues` (fallback) arrays in the tool output.\n3. **IGNORE B404 AND B603:** Completely ignore B404 (`import subprocess`) and B603 (`subprocess.call/run` without `shell`). These are informational, not exploitable vulnerabilities. Do not include them in your output.\n\n4. **ADDITIONAL MANUAL CHECK — HARDCODED SECRETS:** After processing Bandit results, also scan the source code yourself for hardcoded API keys, tokens, and secrets. Bandit only catches variables named `password`/`secret`/`passwd`. You MUST also flag lines like `API_KEY = \"...\"`  or `TOKEN = \"...\"` or `SECRET = \"...\"` where a string literal is assigned to a variable whose name contains KEY, TOKEN, SECRET, or CREDENTIAL (case-insensitive). Report these as type \"Hardcoded Credentials\" with severity \"HIGH\".\n\n5. **IF CLEAN (0 Actionable Vulnerabilities):** Return EXACTLY:\n   {\"has_issues\":false,\"vulnerabilities\":[]}\n\n6. **IF VULNERABLE:** Return EXACTLY this structure with no extra text:\n   {\"has_issues\":true,\"vulnerabilities\":[{\"severity\":\"HIGH\",\"type\":\"SQL Injection\",\"issue_text\":\"Description\",\"line_number\":10,\"original_code\":\"exact line from code\",\"fix_recommendation\":\"how to fix\"}]}\n\n### VULNERABILITY TYPE MAPPING ###\n- B602, B604, B605 → \"Command Injection\"\n- B608 → \"SQL Injection\"\n- B105, B106, B107 → \"Hardcoded Credentials\"\n- B311 → \"Insecure Random\"\n- B301, B403 → \"Insecure Deserialization\"\n- B303, B324 → \"Weak Cryptography\"\n- B310 → \"Path Traversal\"",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -17024,
        6624
      ],
      "id": "1f924006-aac8-4518-b282-409374fd5bef",
      "name": "Auditor Agent",
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "58156bcb-1894-40c7-937b-39fe296ba143",
              "leftValue": "={{ $json.loop_count }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -17296,
        7040
      ],
      "id": "ae42a68c-d079-4beb-b7cb-0105b2cccbae",
      "name": "Max Retries Reached?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "faeda04e-714f-4e65-999d-9f0a606d0a3b",
              "name": "loop_count",
              "value": 0,
              "type": "number"
            },
            {
              "id": "88b76ede-875b-4cfc-9f0a-6b32de3b1daa",
              "name": "code",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "name": "original_code",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -17520,
        7040
      ],
      "id": "6d25eff4-9958-4580-a355-d093efa28112",
      "name": "Init Loop Counter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.code }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "You are a Python Syntax Specialist for the Cerberus Security System.\n\nYOUR GOAL:\nReceive raw Python code and ensure it is syntactically valid and executable.\n\nRULES:\n1. Fix ONLY syntax errors (indentation, missing colons, unclosed brackets, typos).\n2. Do NOT fix security vulnerabilities yet (that is the Auditor's job).\n3. Do NOT change the code's logic or functionality.\n4. Output ONLY the raw Python code block. Do not output markdown backticks (```) or conversational filler like \"Here is the code\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -17872,
        7040
      ],
      "id": "b6d9344f-5bcc-4695-9a14-b4cbd19b8358",
      "name": "Syntax Fixer Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scan",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -18096,
        7040
      ],
      "id": "3fca796c-0b3c-4c4d-8c27-afd735991647",
      "name": "Webhook",
      "webhookId": "f77c6931-c83e-47e6-8da4-48d8acb8b849"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "maxOutputTokens": 8192,
          "temperature": 0,
          "topP": 0.95
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -16160,
        6816
      ],
      "id": "1455a9ef-222b-4378-9149-5d7d4b024186",
      "name": "Patcher Main",
      "credentials": {
        "googlePalmApi": {
          "id": "DoPP6uNz8ZGXDeHX",
          "name": "API KEY 1"
        }
      }
    },
    {
      "parameters": {
        "model": "moonshotai/kimi-k2-instruct",
        "options": {
          "maxTokensToSample": 8192,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -16032,
        6816
      ],
      "id": "95d2bd35-4a95-4f33-a6d5-8d9f1d38db62",
      "name": "Patcher Fallback",
      "credentials": {
        "groqApi": {
          "id": "FkhyWZc9SiOUnDIJ",
          "name": "API KEY 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"Agents Failed to fix the code\",\n  \"status\": \"Not Secure\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -15808,
        6480
      ],
      "id": "1c8b20e5-ae79-4a4c-aaf5-b9b42543e5c2",
      "name": "Send Error - Agents"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// PREPARE FINAL DATA\n// ============================================================\n\nfor (const item of items) {\n  try {\n    const staticData = $getWorkflowStaticData('global');\n    const execId = ($execution && $execution.id) ? String($execution.id) : 'run_' + Date.now();\n    const runData = (staticData.runs && staticData.runs[execId]) ? staticData.runs[execId] : {};\n    const initialVulns = runData.initial_vulnerabilities || [];\n\n    // --- BACKFILL fixed_code ---\n    // Look at item.json.vulnerabilities (fallback node) or staticData (success node)\n    const patcherVulns = runData.patcher_vulnerabilities || item.json.vulnerabilities || [];\n    \n    for (const iv of initialVulns) {\n      const match = patcherVulns.find(pv => pv.type === iv.type && pv.line_number === iv.line_number);\n      if (match && match.fixed_code) {\n        iv.fixed_code = match.fixed_code;\n      }\n    }\n    for (const iv of initialVulns) {\n      if (!iv.fixed_code) {\n        const match = patcherVulns.find(pv => pv.type === iv.type && pv.fixed_code);\n        if (match) iv.fixed_code = match.fixed_code;\n      }\n    }\n\n    item.json.number_of_vulnerabilities_fixed = initialVulns.length;\n    const types = initialVulns.map(v => v.type || 'Unknown');\n    item.json.types_of_vulnerabilities = [...new Set(types)];\n    item.json.vulnerabilities_details = initialVulns.map(v => ({\n      type: v.type || 'Unknown',\n      original_line_number: v.line_number || 0\n    }));\n\n    item.json.vulnerabilities = initialVulns;\n\n    try {\n      item.json.absolute_original_code = $('Webhook').first().json.body.code;\n    } catch (e) {\n      item.json.absolute_original_code = $('Init Loop Counter').first()?.json?.original_code || '';\n    }\n\n    // FIXED: Use .last() instead of .first() for the fallback code string\n    if (!item.json.full_corrected_code) {\n      item.json.full_corrected_code =\n        item.json.audited_code ||\n        $('Max Retries Reached?').last()?.json?.code || '';\n    }\n\n    if (staticData.runs && staticData.runs[execId]) {\n      delete staticData.runs[execId];\n    }\n\n  } catch (error) {\n    item.json.error = 'Failed to prepare final data: ' + error.message;\n  }\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16960,
        7136
      ],
      "id": "ee94c882-fcbf-48c1-a0a9-1e366e857266",
      "name": "Prepare final Data"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\" : \"Max tries exceeded\",\n  \"number_of_vulnerabilities_fixed\": {{ $json.number_of_vulnerabilities_fixed }},\n  \"types_of_vulnerabilities\": {{ JSON.stringify($json.types_of_vulnerabilities) }},\n  \"vulnerabilities_details\": {{ JSON.stringify($json.vulnerabilities_details) }},\n  \"vulnerabilities\": {{ JSON.stringify($json.vulnerabilities || []) }},\n  \"original_code\": {{ JSON.stringify($json.absolute_original_code) }},\n  \"corrected_code\": {{ JSON.stringify($json.full_corrected_code || $json.code) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -16608,
        7136
      ],
      "id": "6176770e-2b4e-4df5-9819-da2e6cd5f00c",
      "name": "Send Last Correct Iteration"
    }
  ],
  "connections": {
    "Auditor Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "Auditor Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Syntax Fixer Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "Syntax Fixer Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Syntax Fixer Main": {
      "ai_languageModel": [
        [
          {
            "node": "Syntax Fixer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Auditor Main": {
      "ai_languageModel": [
        [
          {
            "node": "Auditor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "JSON Output Parser - Sheet": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Corrected Code": {
      "main": [
        [
          {
            "node": "JSON Output Parser - Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare final data": {
      "main": [
        [
          {
            "node": "Send Corrected Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Counter": {
      "main": [
        [
          {
            "node": "Max Retries Reached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Increment Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patcher Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error - Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vulnerabilities Found?": {
      "main": [
        [
          {
            "node": "Patcher Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare final data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Output Parser": {
      "main": [
        [
          {
            "node": "Vulnerabilities Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "scan_code_with_bandit": {
      "ai_tool": [
        [
          {
            "node": "Auditor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Auditor Agent": {
      "main": [
        [
          {
            "node": "JSON Output Parser",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error - Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Max Retries Reached?": {
      "main": [
        [
          {
            "node": "Auditor Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare final Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Loop Counter": {
      "main": [
        [
          {
            "node": "Max Retries Reached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Syntax Fixer Agent": {
      "main": [
        [
          {
            "node": "Init Loop Counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Syntax Fixer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patcher Main": {
      "ai_languageModel": [
        [
          {
            "node": "Patcher Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Patcher Fallback": {
      "ai_languageModel": [
        [
          {
            "node": "Patcher Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Prepare final Data": {
      "main": [
        [
          {
            "node": "Send Last Correct Iteration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Error - Agents": {
      "main": [
        [
          {
            "node": "JSON Output Parser - Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Last Correct Iteration": {
      "main": [
        [
          {
            "node": "JSON Output Parser - Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19921415bac6b77b91e822c3e97165800ced3a4d6f63d204500fd50a2d359050"
  }
}